<footer class="footer-wrap-layout1">
    <div class="copyright">
        © Copyrights <a href="#">Noor Tech Sol</a> 2022. All rights reserved. Designed by <a href="#">Noor Tech Sol</a>
    </div>
</footer>